<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :priority %><br>
        <%= f.number_field :priority, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4 date">
      <div class="form-group ">
        <%= f.label :due_date %><br>
        <%= f.label @task.due_date.strftime("%B %d, %Y"), id: "visible_due_date" %><br>
        <div id="datepicker"></div>
        <%= f.hidden_field :due_date, id: "due_date" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary"%>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#datepicker').datepicker({
      format: "yyyy-mm-dd",
      startDate: "+1d",
      todayHighlight: true
    });
  
    $("#datepicker").on("changeDate", function(event) {
      var date = $("#datepicker").datepicker('getFormattedDate');
      $("#due_date").val(date);
      $("#visible_due_date").remove();
    });
  });
</script>
   