<div class="row hover-colorize">
  <div class="checker col-xs-1">
    <span id=<%= task.id %> class="glyphicon glyphicon-unchecked cursor-finger"></span>
  </div>
  <div class="task col-xs-9">
    <%= link_to task.title, task %>
  </div>
  <div class="buttons col-xs-2 hide">
    <%= link_to complete_task_path(task.id), remote: true, method: :patch, class: "complete-task" do %>
      <span class="glyphicon glyphicon-ok"></span>
    <% end -%>
    <%= link_to edit_task_path(task) do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end -%>
    <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-task', remote: true do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end -%>
  </div>
</div>