<div id="incompleted" class="container shadow">
  <div class="row clearfix header blue-gradient">
    <h1>Tasks</h1>
  </div>
  
  <div class="task-wrapper">
    <%= render @incompleted_tasks %>
  </div>
  
  <div class="sort-div">
    Sort by:
    <%= link_to 'Title',    tasks_path(incompleted_sort: "title", completed_sort: request.query_parameters[:completed_sort]) %>
    |
    <%= link_to 'Priority', tasks_path(incompleted_sort: "priority", completed_sort: request.query_parameters[:completed_sort]) %>
    |
    <%= link_to 'Id',       tasks_path(incompleted_sort: "id", completed_sort: request.query_parameters[:completed_sort]) %>
  </div>
</div>


<%= link_to 'New Task', new_task_path, id: 'new-task-btn', class: 'btn btn-lg btn-primary shadow' %>

<div id="completed" class="container shadow">
  <div class="row clearfix header lightgray-gradient">
    <h1>Completed tasks</h1>
  </div>
  
  <div class="task-wrapper">
    <%= render @completed_tasks %>
  </div>

  <div class="sort-div">
    Sort by:
    <%= link_to 'Title',    tasks_path(incompleted_sort: request.query_parameters[:incompleted_sort], completed_sort: "title") %>
    |
    <%= link_to 'Priority', tasks_path(incompleted_sort: request.query_parameters[:incompleted_sort], completed_sort: "priority") %>
    |
    <%= link_to 'Id',       tasks_path(incompleted_sort: request.query_parameters[:incompleted_sort], completed_sort: "id") %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    
    $(".task-wrapper").find(".row").hover(
      function () {
        $(this).find(".buttons").removeClass("hide");
      },
      function () {
        $(this).find(".buttons").addClass("hide");
      }
    );
    checkEmptyContainers(); // function from application.js
  });
</script>  
