<div class="container shadow">

  <div class="row clearfix header blue-gradient">
    <h1><%= @task.title %></h1>
  </div>

  <% unless @task.description.blank? %>
    <div class='task-description'>
      <%= @task.description %>
    </div>
  <% end %>

  <div>
    <strong>Priority:</strong>
    <%= @task.priority %>
  &nbsp
    <strong>Due date:</strong>
    <%= @task.due_date.strftime("%B %d, %Y") %>
  </div>

  <div class="btn-group">
    <%= link_to 'Edit', edit_task_path(@task), class: "btn btn-default" %>
    <%= link_to 'Back', root_path, class: "btn btn-default" %>
  </div>
</div>